In [2]:
import pandas as pd
df=pd.read_csv("Bengaluru_House_Data.csv")
print("First 5 rows of the data: ")
print(df.head())
print("\nData overview and missing values: ")
print(df.info())

First 5 rows of the data:
              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

   society total_sqft  bath  balcony   price
0  Coomee        1056   2.0      1.0   39.07
1  Theanmp       2600   5.0      3.0  120.00
2      NaN       1440   2.0      3.0   62.00
3  Soiewre       1521   3.0      1.0   95.00
4      NaN       1200   2.0      1.0   51.00

Data overview and missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB
None

In [3]:
df2=df.copy()
df2=df.drop('society', axis='columns')
df2=df2.dropna()
print("Shape of the dataframe after cleaning: ")
print(df2.shape)
print("/nData overview after cleaning: ")
df2.info()

Shape of the dataframe after cleaning:
(12710, 8)
/nData overview after cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12710 non-null  object
 1   availability  12710 non-null  object
 2   location      12710 non-null  object
 3   size          12710 non-null  object
 4   total_sqft    12710 non-null  object
 5   bath          12710 non-null  float64
 6   balcony       12710 non-null  float64
 7   price         12710 non-null  float64
dtypes: float64(3), object(5)
memory usage: 893.7+ KB

In [5]:
df3=df2.copy()
df3['bhk']=df3['size'].apply(lambda x: int(x.split(' ')[0]))
print(df3.head())

              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

  total_sqft  bath  balcony   price  bhk
0       1056   2.0      1.0   39.07    2
1       2600   5.0      3.0  120.00    4
2       1440   2.0      3.0   62.00    3
3       1521   3.0      1.0   95.00    3
4       1200   2.0      1.0   51.00    2

In [11]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12710 non-null  object
 1   availability  12710 non-null  object
 2   location      12710 non-null  object
 3   size          12710 non-null  object
 4   total_sqft    12668 non-null  float64
 5   bath          12710 non-null  float64
 6   balcony       12710 non-null  float64
 7   price         12710 non-null  float64
 8   bhk           12710 non-null  int64
dtypes: float64(4), int64(1), object(4)
memory usage: 993.0+ KB

In [12]:
df4 = df4.dropna()

In [13]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12668 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12668 non-null  object
 1   availability  12668 non-null  object
 2   location      12668 non-null  object
 3   size          12668 non-null  object
 4   total_sqft    12668 non-null  float64
 5   bath          12668 non-null  float64
 6   balcony       12668 non-null  float64
 7   price         12668 non-null  float64
 8   bhk           12668 non-null  int64
dtypes: float64(4), int64(1), object(4)
memory usage: 989.7+ KB

In [16]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12668 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12668 non-null  object
 1   availability  12668 non-null  object
 2   location      12668 non-null  object
 3   total_sqft    12668 non-null  float64
 4   bath          12668 non-null  float64
 5   balcony       12668 non-null  float64
 6   price         12668 non-null  float64
 7   bhk           12668 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 890.7+ KB

In [19]:
df5=df4.copy()
df5['price_per_sqft']=(df5['price']*100000)/df5['total_sqft']

In [20]:
print(df5.head())
print("\nFinal data types: ")
df5.info()

              area_type   availability                  location  total_sqft  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      1056.0
1            Plot  Area  Ready To Move          Chikka Tirupathi      2600.0
2        Built-up  Area  Ready To Move               Uttarahalli      1440.0
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      1521.0
4  Super built-up  Area  Ready To Move                  Kothanur      1200.0

   bath  balcony   price  bhk  price_per_sqft
0   2.0      1.0   39.07    2     3699.810606
1   5.0      3.0  120.00    4     4615.384615
2   2.0      3.0   62.00    3     4305.555556
3   3.0      1.0   95.00    3     6245.890861
4   2.0      1.0   51.00    2     4250.000000

Final data types:
<class 'pandas.core.frame.DataFrame'>
Index: 12668 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_type       12668 non-null  object
 1   availability    12668 non-null  object
 2   location        12668 non-null  object
 3   total_sqft      12668 non-null  float64
 4   bath            12668 non-null  float64
 5   balcony         12668 non-null  float64
 6   price           12668 non-null  float64
 7   bhk             12668 non-null  int64
 8   price_per_sqft  12668 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 989.7+ KB

In [21]:
import numpy as np
import pandas as pd
df6=df5.copy()
def remove_pps_outliers(df):
    df_out=pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out
df6=remove_pps_outliers(df6)
print("Original shape: ", df5.shape)
print("Shape after removing price_per_sqft outliers: ", df6.shape)

Original shape:  (12668, 9)
Shape after removing price_per_sqft outliers:  (9515, 9)

In [22]:
from sklearn.model_selection import train_test_split
df_final=df6.copy()
dummies=pd.get_dummies(df_final.location)
df_final=pd.concat([df_final, dummies], axis='columns')
df_final=df_final.drop(['location', 'area_type', 'availability', 'price_per_sqft'], axis='columns')
X=df_final.drop('price', axis='columns')
y=df_final['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

print("Data preparation complete! ")
print("Shape of the training features (X_train): ", X_train.shape)
print("shape of the testing features (X_test): ", X_test.shape)

Data preparation complete!
Shape of the training features (X_train):  (7612, 783)
shape of the testing features (X_test):  (1903, 783)

In [25]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
model_score=lr_model.score(X_test, y_test)
print("Model training complete!")
print(f"The model's accuracy (R-squared score) on the test data is: {model_score: .2f}")

Model training complete!
The model's accuracy (R-squared score) on the test data is:  0.76

In [27]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=10)
print("Training the random Forest model: ")
rf_model.fit(X_train, y_train)
rf_score = rf_model.score(X_test, y_test)
print("\nModel training complete! ")
print(f"The Random forest model's accuracy (R-squared score) is: {rf_score: .2f}")

Training the random Forest model:

Model training complete!
The Random forest model's accuracy (R-squared score) is:  0.63

In [29]:
# Extra out of the context...

from sklearn.model_selection import GridSearchCV

# Create the model instance
rf_model_tuned = RandomForestRegressor(random_state=10)

# Define the grid of parameters to test
# We're telling it to test a few different values for the number of trees and their max depth
param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [10, 20]
}

# Create the GridSearchCV object
# cv=3 means it will use 3-fold cross-validation
# n_jobs=-1 means it will use all available CPU cores to speed up the process
grid_search = GridSearchCV(estimator=rf_model_tuned, param_grid=param_grid, 
                           cv=3, n_jobs=-1, verbose=2)

# Fit the grid search to the data (this is the part that takes time)
print("Starting hyperparameter tuning with GridSearchCV...")
grid_search.fit(X_train, y_train)

# Print the best parameters found
print("\nBest parameters found: ", grid_search.best_params_)

# Evaluate the best model found by the grid search
best_model_score = grid_search.best_estimator_.score(X_test, y_test)
print(f"The tuned Random Forest model's accuracy is: {best_model_score:.2f}")

Starting hyperparameter tuning with GridSearchCV...
Fitting 3 folds for each of 4 candidates, totalling 12 fits

Best parameters found:  {'max_depth': 20, 'n_estimators': 100}
The tuned Random Forest model's accuracy is: 0.62